@font-face {
    font-family: 'yekan';
    src: url(../fonts/Yekan.ttf);
}
@font-face {
    font-family: 'vazir';
    src: url(../fonts/Vazir-Medium.ttf);
}
@font-face {
    font-family: 'vazir-bold';
    src: url(../fonts/Vazir-Bold-FD-WOL.ttf);
}
body{
    background-color:rgb(239, 239, 51);
}
#logo-title{
    margin:40px auto;
    display: block;
    width: 325px;
    height: auto;
}
.ghaem{
    text-align: center;
    font-family: yekan;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0;
    border: none;
}
h2{
    text-align: center;
    font-family: yekan;
    font-size: 30px;
}
.nav-bar ul{
    list-style: none;
    font-family: vazir;
    padding: 0 30px;

}
.nav-bar ul li{
    padding:0 5px;
    font-size: medium;
    display: inline-block;
}
.nav-bar ul a{
    color: gray;
    text-decoration: none;
}
.nav-bar ul a:hover{
    border-bottom : solid #f79c68 1px;
}
.titr{
    background-color:rgb(245, 245, 245);
    margin: 0px 20px;
    padding-bottom: 1px;
    border: none;
    border-radius: 50px;
}
.nav-bar{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.nav-bar button{
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: lightgreen;
    font-family: vazir-bold;
}
.nav-bar button:hover{
    opacity:.8;
}
.cta{
    border: none;
    margin: auto;
    margin-left: 10px;
}



 






